<section id="faq" style="padding-bottom:0px">
    <div class="container">
		<div class="text-center">
			<h2 class="section-heading">Frequently Asked Questions</h2>
		</div>

		<hr class="primary"/>

		<div id="accordion" class="panel-group">
			<div class="panel panel-info" style="border-color:#fff">

				<div class="panel-heading" style="background-color:#fff; color:#000">
					<div class="panel-title">
					<a href="#first"
					data-toggle="collapse"
					data-parent="#accordion"> Do I need to have programming knowledge to attend the camp? </a>
					</div>
				</div>
				<div class="panel-collapse collapse" id="first" >
					<div class="panel-body">No, we don't expect any programming knowledge.</p>
					</div>
				</div>

				<div class="panel-heading" style="background-color:#fff; color:#000">
					<div class="panel-title"><a href="#second"
					data-toggle="collapse"
					data-parent="#accordion">What is the cost of the camp?</a>
					</div>
				</div>
				<div class="panel-collapse collapse" id="second" >
					<div class="panel-body">Thanks to our sponsors, the camp is free!</p>
					</div>
				</div>


				<div class="panel-heading" style="background-color:#fff; color:#000">
					<div class="panel-title"><a href="#third"
					data-toggle="collapse"
					data-parent="#accordion"> What is the typical age range for the camp?</a>
					</div>
				</div>
				<div class="panel-collapse collapse" id="third" >
					<div class="panel-body">Most students are ages 14-16</p>
					</div>
				</div>

				<div class="panel-heading" style="background-color:#fff; color:#000">
					<div class="panel-title"><a href="#forth"
					data-toggle="collapse"
					data-parent="#accordion">What should my teacher recommendation include?</a>
					</div>
				</div>
				<div class="panel-collapse collapse" id="forth" >
					<div class="panel-body">Your teacher recommendation should elaborate on your strength and
weaknesses as a student, ability to work in a team, and anything else your
teacher might find relevant. Remember this email should be sent from your
teacher's school email address.</p>
					</div>
				</div>



				<div class="panel-heading" style="background-color:#fff; color:#000">
					<div class="panel-title"><a href="#fifth"
					data-toggle="collapse"
					data-parent="#accordion"> Are there any alternative dates for the camp?</a>
					</div>
				</div>

				<div class="panel-collapse collapse" id="fifth">
					<div class="panel-body">No, unfortunately the camp is only offered June 27, 2016 - June 30, 2016.</p>
					</div>
				</div>

				<div class="panel-heading" style="background-color:#fff; color:#000">
					<div class="panel-title"><a href="#sixth"
						data-toggle="collapse"
						data-parent="#accordion">What is the camp schedule?</a>
					</div>
				</div>

				<div class="panel-collapse collapse" id="sixth">
					<div class="panel-body">We will be providing the schedule over email and will add a link here shortly.</p>
					</div>
				</div>

        <div class="panel-heading" style="background-color:#fff; color:#000">
					<div class="panel-title"><a href="#seventh"
						data-toggle="collapse"
						data-parent="#accordion"> Is lunch provided?</a>
					</div>
				</div>

				<div class="panel-collapse collapse" id="seventh">
					<div class="panel-body">
            June 30th we will provide a pizza lunch for all the students. The other three days
  students are responsible for their own lunch. You can either bring your lunch
  from home or buy lunch at one of the on campus cafeterias.
  We will also provide small snacks during the break times.
					</div>
				</div>

        <div class="panel-heading" style="background-color:#fff; color:#000">
					<div class="panel-title"><a href="#eighth"
						data-toggle="collapse"
						data-parent="#accordion"> Where can I stay while I attend the camp?</a>
					</div>
				</div>

				<div class="panel-collapse collapse" id="eighth">
					<div class="panel-body">
            Downtown Montreal has a number of hotels in very close proximity to
            McGill Campus. See a list of McGill recommended hotels here:
            https://www.mcgill.ca/accommodations/mohp/downtown.  McGill also rents dorm rooms out during the summer. See:
            https://www.mcgill.ca/summer/accommodations for more information.
            A third option is renting an apartment for a few nights. Airbnb and
            Flatbook usually have a number of listings.
          </div>
				</div>

        <div class="panel-heading" style="background-color:#fff; color:#000">
					<div class="panel-title"><a href="#ninth"
						data-toggle="collapse"
						data-parent="#accordion">What else is there to do while in Montreal?</a>
					</div>
				</div>

				<div class="panel-collapse collapse" id="ninth">
					<div class="panel-body">
            Lots!  See http://toeuropeandbeyond.com/15-things-to-do-in-montreal/ for some options.
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
