{{ "<!-- ABOUT -->" | safeHTML }}
<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-lg-offset-2 no-padding">
              <img src="img/general/onbus.jpg" style="width: 100%;"/>
            </div>
            <div class="col-lg-4 no-padding">
              <img src="img/general/comp.jpg" style="width: 100%;"/>
            </div>
            <div class="col-lg-4 col-lg-offset-2 no-padding">
              <img src="img/general/game.jpg" style="width: 100%;"/>
            </div>
            <div class="col-lg-4 no-padding">
              <img src="img/general/lab.jpg" style="width: 100%;"/>
            </div>
            <div class="col-lg-12" style="height: 20px;"></div>
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">{{ with .Site.Params.about.headline }}{{ . }}{{ end }}</h2>
                <p class="">{{ with .Site.Params.about.description }}{{ . | markdownify }}{{ end }}</p>
            </div>
            <div class="col-lg-8 col-lg-offset-2 text-center">
              <img src="img/general/robotics.jpg" style="width: 100%;"/>
            </div>
            <div class="col-lg-8 col-lg-offset-2 text-center" style="padding-top: 20px;">
              <div style="overflow:hidden;height:270px;width:480px;margin-left:auto;margin-right:auto;"><div id="youtube_canvas" style="height:270px;width:480px;"><iframe style="height:270px;width:480px;border:0;margin-left:auto;margin-right:auto;" frameborder="0" src="https://www.youtube.com/embed/PYjohoRqI0A?hl=en&amp;autoplay=0&amp;cc_load_policy=0&amp;loop=0&amp;iv_load_policy=0&amp;fs=1&amp;showinfo=1"></iframe></div><a class="youtube-embed-code" href="https://www.tubeembed.com" id="get-youtube-data">tubeembed</a><style>#youtube_canvas img{max-width:none!important;background:none!important}</style></div>
            </div>
        </div>
    </div>
</section>
