<section id="faq" style="padding-bottom:0px">
    <div class="container">
		<div class="text-center">
			<h2 class="section-heading">Frequently Asked Questions</h2>
		</div>

		<hr class="primary"/>

		<div id="accordion" class="panel-group">
			<div class="panel panel-info" style="border-color:#fff">

				<div class="panel-heading" style="background-color:#fff; color:#000">
					<div class="panel-title">
					<a href="#first"
					data-toggle="collapse"
					data-parent="#accordion"><i class="fa fa-plus"></i>Question 1</a>
					</div>
				</div>
				<div class="panel-collapse collapse" id="first" >
					<div class="panel-body"><i class="fa fa-minus"></i>Answer to Q1</p>
					</div>
				</div>

				<div class="panel-heading" style="background-color:#fff; color:#000">
					<div class="panel-title"><a href="#second"
					data-toggle="collapse"
					data-parent="#accordion"><i class="fa fa-plus"></i>Question 2</a>
					</div>
				</div>
				<div class="panel-collapse collapse" id="second" >
					<div class="panel-body"><i class="fa fa-minus"></i>Answer to Q2</p>
					</div>
				</div>


				<div class="panel-heading" style="background-color:#fff; color:#000">
					<div class="panel-title"><a href="#third"
					data-toggle="collapse"
					data-parent="#accordion"><i class="fa fa-plus"></i>Question 3</a>
					</div>
				</div>
				<div class="panel-collapse collapse" id="third" >
					<div class="panel-body"><i class="fa fa-minus"></i>Answer to Q3</p>
					</div>
				</div>

				<div class="panel-heading" style="background-color:#fff; color:#000">
					<div class="panel-title"><a href="#forth"
					data-toggle="collapse"
					data-parent="#accordion"><i class="fa fa-plus"></i>Question 4</a>
					</div>
				</div>
				<div class="panel-collapse collapse" id="forth" >
					<div class="panel-body"><i class="fa fa-minus"></i>Answer to Q4</p>
					</div>
				</div>



				<div class="panel-heading" style="background-color:#fff; color:#000">
					<div class="panel-title"><a href="#fifth"
					data-toggle="collapse"
					data-parent="#accordion"><i class="fa fa-plus"></i>Question 5</a>
					</div>
				</div>

				<div class="panel-collapse collapse" id="fifth">
					<div class="panel-body"><i class="fa fa-minus"></i>Answer to Q5</p>
					</div>
				</div>

				<div class="panel-heading" style="background-color:#fff; color:#000">
					<div class="panel-title"><a href="#sixth"
						data-toggle="collapse"
						data-parent="#accordion"><i class="fa fa-plus"></i>Question 6</a>
					</div>
				</div>

				<div class="panel-collapse collapse" id="sixth">
					<div class="panel-body"><i class="fa fa-minus"></i>Answer to Q6</p>
					</div>
				</div>

			</div>
		</div>
	</div>
</section>		
